@inherits LayoutComponentBase

<main>
    <nav style="display: flex; column-gap: 1rem;">
        <div><NavLink href="/">Home</NavLink></div>
        <div><NavLink href="/todo">Todo</NavLink></div>
    </nav>
    @Body
</main>